#!/bin/bash

# Application discovery
# Use if Flask app creation is more complicated than just an app.py in the root directory
# E.g. call the 'create_app' factory in the app root with string 'default'
# export FLASK_APP=<app_root>:create_app('default')

# Environment
export FLASK_ENV=development

